*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    color: blue;
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 20px;
}

p{
    color: black;
    display: flex;
    width: 300px;

}